@{
    Layout = null;

    var companyName = "AOT";
    var startYear = 2016;
    var description = "<p><u>Nothing in this world thats worth having comes easy</u></p>";
    var projects = new string[]
    {
        "Project 1: 2016",
        "Project 2: 2017",
        "Project 3: 2017",
        "Project 4: 2018"
    };
    //below value to be swapped in for projects in order to demonstrate usefulness of if statement
    var projects2 = new string[] { };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@companyName</h1>
        <h2>Founded: @startYear</h2>

        <h5>Description</h5>
        <div>@Html.Raw(description)</div>

        @if (projects.Length > 0)
        {
        <h5>Projects:</h5>
        <div>
            <ul>
                @foreach (var project in projects)
                {
                    <li>@project</li>
                }
            </ul>
        </div>
        }
    </div>
</body>
</html>
