@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/html5up-future-imperfect/index.cshtml";
    //Layout = "~/Views/Shared/_Layout2.cshtml";

    ViewBag.Title = "AOT";

}

<!DOCTYPE html>


<h1>@ViewBag.CompanyName</h1>
<h2>Founded: @ViewBag.StartYear</h2>

<h5>Description</h5>
<div>@Html.Raw(ViewBag.Description)</div>

@if (ViewBag.Developers.Length > 0)
{

<h5>Developers:</h5>
<div>
    <ul>
        @foreach (var developer in ViewBag.Developers)
        {
            <li>@developer</li>
        }
    </ul>
</div>
}

